<form action="/bookmarks/new" method="post">
  <label for="title" type="text">Enter new bookmark title</label>
  <input name="title" type="text" placeholder="title">
  <label for="url" type="text">Enter new bookmark URL</label>
  <input name="url" type="text" placeholder="url">
  <input type="submit" value="Submit">
</form>
